:root {
  --color-primary-dark100: #253000;
  --color-primary-dark90: #324000;
  --color-primary-dark80: #485c00;
  --color-primary-dark70: #729100;
  --color-primary-light100: #c8ff00;
  --color-primary-light50: #e3ff7b;
  --color-grey-100: #030404;
  --color-grey-90: #101010;
  --color-grey-85: #101515;
  --color-grey-80: #1b1c19;
  --color-grey-70: #31322f;
  --color-grey-60: #3b4853;
  --color-grey-50: #727e88;
  --color-grey-30: #a3b1bc;
  --color-grey-10: #e8ecf2;
  --color-grey-0: #fff;
  --color-system-error: #cd3e13;
  --color-system-blue: #09a0c1;
  --color-system-green: #008625;
  --font-primary: "IBM Plex Sans", Arial, sans-serif;
  --font-secondary: "Tektur", sans-serif;
  --max-width: 1440px;
  --medium-width: 768px;
  --medium-width-2: 1024px;
  --small-width: 393px;
}

*, :before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-primary);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
}

body {
  color: var(--color-grey-10);
  background-color: var(--color-grey-85);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

address {
  font-style: normal;
}

img, picture, video, iframe, svg {
  max-width: 100%;
  height: auto;
  display: block;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  font: inherit;
  background: none;
  border: none;
  padding: 0;
}

input, textarea, select {
  font: inherit;
  color: inherit;
  box-shadow: none;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

select {
  appearance: none;
}

.button {
  text-align: center;
  cursor: pointer;
  background-color: var(--color-primary-dark90);
  color: var(--color-grey-0);
  padding: 18px 46px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  transition: background-color .3s;
  display: inline-block;
}

.button:hover {
  background-color: var(--color-primary-dark80);
  transition: background-color .3s;
}

.button:focus {
  background-color: var(--color-primary-dark100);
}

.button--small {
  padding: 16px 32px;
  font-size: 18px;
}

.button--large {
  padding: 24px 64px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 112px;
}

.section-title {
  font-family: var(--font-primary);
  letter-spacing: 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color-primary-dark70);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
}

.section-title--white {
  font-family: var(--font-secondary);
  letter-spacing: 3.36px;
  color: var(--color-grey-10);
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 92%;
}

.header {
  background-color: var(--color-grey-85);
  padding: 28px 0;
}

.header__container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header__logo {
  flex-shrink: 0;
  margin-right: 60px;
  padding: 12px 32px 12px 0;
}

.header__nav {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header__menu {
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header__link {
  color: var(--color-grey-10);
  padding: 24px;
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  transition: color .3s, background-color .3s;
  position: relative;
}

.header__link:after {
  content: "";
  background-color: #0000;
  height: 2px;
  transition: background-color .3s;
  position: absolute;
  bottom: 14px;
  left: 24px;
  right: 24px;
}

.header__link:hover:after {
  background-color: var(--color-primary-dark70);
}

.header__link:focus:after, .header__link--selected:after {
  background-color: var(--color-primary-light100);
}

.header__language-container {
  padding: 20px;
}

.header__call-button {
  margin-left: 60px;
}

.hero {
  background-color: var(--color-grey-100);
  padding: 160px 0;
}

.hero__container {
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  display: grid;
}

.hero__content {
  width: 85%;
}

.hero__image {
  width: 60%;
  margin: auto;
}

.hero__image img, .hero__image svg {
  width: 100%;
}

.hero__title {
  margin-bottom: 80px;
}

.hero__description {
  margin-bottom: 80px;
  line-height: 1.4;
}

.services {
  background-color: var(--color-grey-90);
  padding: 160px 0 80px;
}

.services__title {
  width: 50%;
  margin-bottom: 80px;
}

.services__grid-container {
  grid-template-columns: repeat(3, 1fr);
  gap: 80px 32px;
  display: grid;
}

.services__link {
  background-color: var(--color-grey-80);
  padding: 32px 32px 76px;
  transition: background-color .3s;
  display: block;
  position: relative;
}

.services__link:after {
  content: "";
  background-image: url("arrow.b9dab6f1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 38px;
  height: 16px;
  position: absolute;
  bottom: 32px;
  left: 32px;
}

.services__link:hover {
  background-color: var(--color-primary-dark100);
  transition: background-color .3s;
}

.services__link:focus {
  background-color: var(--color-primary-dark80);
}

.video {
  background-color: var(--color-grey-90);
  padding: 160px 0;
}

.video__title {
  text-align: center;
  margin: 0 auto 80px;
}

.video__container {
  position: relative;
}

.video__container:before {
  content: "";
  background-color: var(--color-primary-dark70);
  clip-path: polygon(0 0, 92% 0, 100% 13%, 100% 100%, 0 100%);
  z-index: 1;
  width: calc(82% + 1px);
  margin: auto;
  position: absolute;
  inset: -1px;
}

.video__player {
  background-color: var(--color-grey-90);
  clip-path: polygon(0 0, 92% 0, 100% 13%, 100% 100%, 0 100%);
  z-index: 1;
  width: 82%;
  margin: 0 auto;
  padding: 84px 132px;
  position: relative;
}

.video__iframe-wrapper {
  background-color: #000;
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
}

.video__iframe {
  border: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.projects {
  background-color: var(--color-grey-100);
  padding: 160px 0 80px;
}

.projects__title {
  margin-bottom: 24px;
}

.projects__info {
  width: 50%;
  margin-bottom: 80px;
}

.projects__grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  display: grid;
}

.projects__card {
  position: relative;
  overflow: hidden;
}

.projects__picture {
  width: 100%;
  height: 100%;
  display: block;
}

.projects__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.projects__text {
  font-size: 24px;
  position: absolute;
  bottom: 12px;
  left: 26px;
}

.about {
  background-color: var(--color-grey-100);
  padding: 160px 0;
}

.about__inner-container {
  background-color: var(--color-grey-85);
  padding: 80px 100px;
}

.about__title, .about__description {
  width: 50%;
  margin-bottom: 48px;
}

.values {
  background-color: var(--color-grey-90);
  padding: 160px 0;
}

.values__title {
  margin-bottom: 80px;
}

.values__grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  display: grid;
}

.values__item {
  background-color: var(--color-grey-80);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  min-height: 204px;
  padding: 32px;
  display: flex;
}

.values__text {
  text-transform: uppercase;
  font-family: var(--font-secondary);
  letter-spacing: .14px;
  color: var(--color-grey-10);
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.info {
  background-color: var(--color-grey-100);
  padding: 160px 0;
  position: relative;
}

.info:after {
  content: "";
  background-image: url("Logo_Vector.86a2cd2a.svg");
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.info__title {
  text-transform: none;
  text-align: center;
  margin-bottom: 40px;
}

.info__description {
  text-align: justify;
  width: 66%;
  margin: 0 auto;
}

.contact {
  background-color: var(--color-grey-100);
  padding: 160px 0;
}

.contact__container {
  background-color: var(--color-grey-90);
  border: 1px solid var(--color-primary-dark70);
  grid-template-columns: 2fr 3fr;
  gap: 32px;
  padding: 80px 100px;
  display: grid;
}

.contact__title {
  margin-bottom: 16px;
}

.form__group {
  flex-direction: column;
  display: flex;
}

.form__label {
  order: -1;
  margin-bottom: 8px;
  display: block;
}

.form__label, .form__checkbox-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.form__input {
  background-color: inherit;
  order: 0;
  margin-bottom: 48px;
}

.form__input, .form__select {
  border-bottom: 1px solid var(--color-grey-30);
}

.form__input::placeholder, .form__select::placeholder {
  border-bottom: 1px solid var(--color-grey-60);
}

.form__select-container {
  width: 100%;
  display: inline-block;
  position: relative;
}

.form__select {
  color: var(--color-grey-50);
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.form__select-container:after {
  content: "";
  border-style: solid;
  border-width: 0 2px 2px 0;
  border-color: var(--color-primary-light100);
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  right: 10px;
  transform: rotate(45deg);
}

.form__select:focus + .form__select-container:after {
  border-width: 2px 0 0 2px;
}

.form__select, .form__group--checkbox {
  margin-bottom: 48px;
}

.form__checkbox-container {
  align-items: center;
  gap: 12px;
  display: flex;
}

.form__checkbox {
  border: 1px solid var(--color-grey-10);
  width: 20px;
  height: 20px;
  position: relative;
}

.form__checkbox:checked:after {
  content: "";
  border: 2px solid #fff;
  border-width: 0 2px 2px 0;
  width: 6px;
  height: 12px;
  transition: opacity .2s ease-in-out;
  display: block;
  position: absolute;
  top: 2px;
  left: 6px;
  transform: rotate(45deg);
}

.form__checkbox-label {
  margin-bottom: 24px;
}

.form__checkbox-description {
  font-size: 16px;
}

.form__input:required ~ .form__label:after, .form__select:required ~ .form__label:after, .form__checkbox:required ~ .form__label:after, .form__group--checkbox .form__checkbox-label:after {
  content: " *";
  color: inherit;
  font-weight: bold;
}

.team {
  background-color: var(--color-grey-100);
  padding-bottom: 120px;
}

.team__title {
  margin-bottom: 80px;
}

.team__list {
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  display: grid;
}

.card {
  background-color: var(--color-grey-90);
  flex-direction: column;
  align-items: center;
  display: flex;
}

.card__description {
  text-align: center;
  background-color: var(--color-grey-90);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 32px;
  display: flex;
}

.card__name {
  letter-spacing: .4px;
  font-weight: 600;
}

.card__role {
  color: var(--color-grey-30);
}

.card__link-container {
  padding: 16px;
}

.social-links {
  gap: 24px;
  display: flex;
}

.social-links__item, .social-links__link {
  display: block;
}

.social-links__link svg {
  width: 20px;
  height: 20px;
  stroke: var(--color-grey-30);
  margin: auto;
}

.footer {
  padding: 52px 0;
}

.footer__logo {
  flex-shrink: 0;
}

.footer__container {
  flex-direction: row;
  justify-content: space-between;
  gap: 56px;
  display: flex;
}

.footer__menu {
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 80px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  display: grid;
}

.footer__contacts {
  font-size: 14px;
  font-weight: 400;
}

.footer__contacts-text {
  margin-bottom: 20px;
  font-weight: 600;
}

.footer__address-link {
  margin-bottom: 20px;
  display: block;
}
/*# sourceMappingURL=index.77a9bc14.css.map */
