:root {
  --color-primary-dark100: #253000;
  --color-primary-dark90: #324000;
  --color-primary-dark80: #485c00;
  --color-primary-dark70: #729100;
  --color-primary-light100: #c8ff00;
  --color-primary-light50: #e3ff7b;
  --color-grey-100: #030404;
  --color-grey-90: #101010;
  --color-grey-85: #101515;
  --color-grey-80: #1b1c19;
  --color-grey-70: #31322f;
  --color-grey-60: #3b4853;
  --color-grey-50: #727e88;
  --color-grey-30: #a3b1bc;
  --color-grey-10: #e8ecf2;
  --color-grey-0: #fff;
  --color-system-error: #cd3e13;
  --color-system-blue: #09a0c1;
  --color-system-green: #008625;
  --font-primary: "IBM Plex Sans", Arial, sans-serif;
  --font-secondary: "Tektur", sans-serif;
  --max-width: 1440px;
  --medium-width-2: 1024px;
  --medium-width: 768px;
  --small-width: 393px;
  --min-header-height: 82px;
}

*, :before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-primary);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
}

body {
  color: var(--color-grey-10);
  background-color: var(--color-grey-85);
  height: 100%;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

address {
  font-style: normal;
}

img, picture, video, iframe, svg {
  max-width: 100%;
  height: auto;
  display: block;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  font: inherit;
  background: none;
  border: none;
  padding: 0;
}

input, textarea, select {
  font: inherit;
  color: inherit;
  box-shadow: none;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

select {
  appearance: none;
}

.visually-hidden {
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

.button {
  text-align: center;
  cursor: pointer;
  background-color: var(--color-primary-dark90);
  color: var(--color-grey-0);
  padding: 18px 46px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  transition: background-color .3s;
  display: inline-block;
}

.button:hover {
  background-color: var(--color-primary-dark80);
  transition: background-color .3s;
}

.button:focus {
  background-color: var(--color-primary-dark100);
}

.button--small {
  padding: 12px 32px;
  font-size: 18px;
}

.button--large {
  padding: 24px 64px;
}

.main-container {
  flex-direction: column;
  min-height: 100vh;
  display: flex;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 112px;
}

main {
  flex: 1;
}

.section-title {
  font-family: var(--font-primary);
  letter-spacing: 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color-primary-dark70);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
}

.section-title--white {
  font-family: var(--font-secondary);
  letter-spacing: 3.36px;
  color: var(--color-grey-10);
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 92%;
}

.header {
  background-color: var(--color-grey-85);
  z-index: 1000;
  width: 100%;
  min-height: var(--min-header-height);
  padding: 12px 0;
  position: fixed;
}

.header-container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header-logo {
  flex-shrink: 0;
  margin-right: 60px;
  padding: 8px 32px 8px 0;
}

.header-nav {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  display: flex;
}

.header-menu {
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header-link {
  color: var(--color-grey-10);
  padding: 24px;
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  transition: color .3s, background-color .3s;
  position: relative;
}

.header-link:after {
  content: "";
  background-color: #0000;
  height: 2px;
  transition: background-color .3s;
  position: absolute;
  bottom: 14px;
  left: 24px;
  right: 24px;
}

.header-link:hover:after {
  background-color: var(--color-primary-dark70);
}

.header-link:focus:after, .header-link--selected:after {
  background-color: var(--color-primary-light100);
}

.header-language-container {
  padding: 12px;
}

.header-call-button {
  margin-left: 60px;
}

.hero {
  background-color: var(--color-grey-100);
  padding-top: var(--min-header-height);
  min-height: 100vh;
}

@media screen and (height >= 1200px) {
  .hero {
    min-height: fit-content;
  }
}

.hero-container {
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  display: grid;
}

.hero-content {
  width: 85%;
  padding: 160px 0;
}

.hero-image {
  width: 60%;
  margin: auto;
}

.hero-image img, .hero-image svg {
  width: 100%;
}

.hero-title {
  margin-bottom: 80px;
}

.hero-description {
  margin-bottom: 80px;
  line-height: 1.4;
}

.services {
  background-color: var(--color-grey-90);
  padding: 160px 0 0;
}

.services-title {
  width: 50%;
  margin-bottom: 80px;
}

.services-link {
  background-color: var(--color-grey-80);
  height: 100%;
  padding: 32px 32px 76px;
  transition: background-color .3s;
  display: block;
  position: relative;
}

.services-link:after {
  content: "";
  background-image: url("arrow.b9dab6f1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 38px;
  height: 16px;
  position: absolute;
  bottom: 32px;
  left: 32px;
}

.services-link:hover {
  background-color: var(--color-primary-dark100);
  transition: background-color .3s;
}

.services-link:focus {
  background-color: var(--color-primary-dark80);
}

.video {
  background-color: var(--color-grey-90);
  padding: 140px 0 160px;
}

.video-title {
  text-align: center;
  margin: 0 auto 80px;
}

.video-container {
  position: relative;
}

.video-container:before {
  content: "";
  background-color: var(--color-primary-dark70);
  clip-path: polygon(0 0, 92% 0, 100% 13%, 100% 100%, 0 100%);
  z-index: 1;
  width: calc(82% + 1px);
  margin: auto;
  position: absolute;
  inset: -1px;
}

.video-player {
  background-color: var(--color-grey-90);
  clip-path: polygon(0 0, 92% 0, 100% 13%, 100% 100%, 0 100%);
  z-index: 1;
  width: 82%;
  margin: 0 auto;
  padding: 84px 132px;
  position: relative;
}

.video-iframe-wrapper {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
}

.video-iframe {
  border: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.projects {
  background-color: var(--color-grey-100);
  padding-top: 160px;
}

.projects-title {
  margin-bottom: 24px;
}

.projects-info {
  width: 50%;
  margin-bottom: 80px;
}

.projects-card {
  position: relative;
  overflow: hidden;
}

.projects-link {
  z-index: 1;
  align-items: flex-end;
  width: 100%;
  min-height: 280px;
  display: flex;
  position: relative;
}

.projects-link:before {
  content: "";
  background-color: var(--color-primary-dark100);
  opacity: 0;
  z-index: 1;
  transition: opacity .3s;
  position: absolute;
  inset: 0;
}

.projects-link:hover:before {
  opacity: .2;
}

.projects-link:focus:before {
  background-color: var(--color-primary-dark80);
  opacity: .2;
}

.projects-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.projects-text {
  z-index: 2;
  justify-content: flex-start;
  width: 100%;
  padding: 32px 32px 12px;
  font-size: 24px;
  display: flex;
  position: relative;
}

.about {
  background-color: var(--color-grey-100);
  padding-top: 130px;
  padding-bottom: 160px;
}

.about-inner-container {
  background-color: var(--color-grey-85);
  padding: 80px 100px;
}

.about-title, .about-description {
  width: 50%;
  margin-bottom: 48px;
}

.values {
  background-color: var(--color-grey-90);
  padding: 160px 0;
}

.values-title {
  margin-bottom: 80px;
}

.values-grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  display: grid;
}

.values-item {
  background-color: var(--color-grey-80);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  min-height: 204px;
  padding: 32px;
  display: flex;
}

.values-item:hover, .values-item:focus {
  clip-path: polygon(0 0, 92% 0, 100% 13%, 100% 100%, 0 100%);
}

.values-text {
  text-transform: uppercase;
  font-family: var(--font-secondary);
  letter-spacing: .14px;
  color: var(--color-grey-10);
  text-align: center;
  letter-spacing: 2px;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.info {
  background-color: var(--color-grey-100);
  padding: 160px 0;
  position: relative;
}

.info-title {
  text-transform: none;
  text-align: center;
  margin-bottom: 40px;
}

.info-description {
  text-align: left;
  width: 66%;
  margin: 0 auto;
}

.info-bottom-pic {
  margin: 60px auto 0;
}

.contact {
  background-color: var(--color-grey-100);
  padding-top: 120px;
  padding-bottom: 80px;
}

.contact-container {
  background-color: var(--color-grey-90);
  border: 1px solid var(--color-primary-dark70);
  grid-template-columns: 2fr 3fr;
  gap: 32px;
  padding: 80px 130px 80px 100px;
  display: grid;
}

.contact-title {
  margin-bottom: 16px;
}

.form-group {
  flex-direction: column;
  display: flex;
}

.form-label {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  display: block;
}

.form-input {
  background-color: inherit;
  color: var(--color-grey-0);
  margin-bottom: 48px;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.form-group--checkbox {
  flex-direction: row;
  gap: 12px;
  display: flex;
}

.form-input, .form-select {
  border-bottom: 1px solid var(--color-grey-30);
}

.form-input::placeholder, .form-select::placeholder {
  border-bottom: 1px solid var(--color-grey-60);
}

.form-group--checkbox {
  margin-bottom: 38px;
}

.form-checkbox-container {
  align-items: center;
  gap: 12px;
  display: flex;
}

.form-checkbox {
  border: 1px solid var(--color-grey-10);
  width: 20px;
  height: 20px;
  position: relative;
}

.form-checkbox:checked:after {
  content: "";
  border: 2px solid #fff;
  border-width: 0 2px 2px 0;
  width: 6px;
  height: 12px;
  transition: opacity .2s ease-in-out;
  display: block;
  position: absolute;
  top: 2px;
  left: 6px;
  transform: rotate(45deg);
}

.form-checkbox-label {
  margin-bottom: 24px;
}

.form-checkbox-link {
  color: var(--color-system-blue);
}

.form-checkbox-link:hover {
  text-decoration: underline;
}

.form-input:focus {
  border-bottom: 1px solid var(--color-system-blue);
}

.form-input--error {
  border-bottom: 1px solid var(--color-system-error);
  position: relative;
}

.form-input--error:after {
  content: "Please enter a valid data";
  color: var(--color-system-error);
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  position: absolute;
}

.form-select-container {
  margin-bottom: 64px;
}

.form-select-label {
  margin-bottom: 16px;
}

.select-hidden {
  visibility: hidden;
  padding-right: 10px;
  display: none;
}

.select {
  cursor: pointer;
  width: 100%;
  height: 40px;
  font-size: 16px;
  display: inline-block;
  position: relative;
}

.select-styled {
  background-color: var(--color-grey-90);
  border-bottom: 1px solid var(--color-grey-30);
  padding: 12px 16px;
  transition: all .2s ease-in;
  position: absolute;
  inset: 0;
}

.select-styled:after {
  content: "";
  border-style: solid;
  border-width: 0 2px 2px 0;
  border-color: var(--color-primary-light100);
  width: 10px;
  height: 10px;
  position: absolute;
  top: 14px;
  right: 26px;
  transform: rotate(45deg);
}

.select-styled:hover, .select-styled:active, .select-styled.active {
  background-color: var(--color-grey-90);
}

.select-styled:active:after, .select-styled.active:after {
  border-width: 2px 0 0 2px;
}

.select-options {
  z-index: 999;
  background-color: var(--color-grey-80);
  margin: 0;
  list-style: none;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

.select-options li {
  text-indent: 15px;
  margin: 0;
  padding: 10px 2px;
  transition: all .15s ease-in;
}

.select-options li:hover {
  background: var(--color-primary-dark100);
}

.select-options li.is-selected {
  background: var(--color-primary-dark80);
}

.select-options li[rel="hide"] {
  display: none;
}

.team {
  background-color: var(--color-grey-100);
  padding-top: 160px;
  padding-bottom: 120px;
}

.team-title {
  margin-bottom: 80px;
}

.card {
  background-color: var(--color-grey-90);
  flex-direction: column;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.card-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-description {
  text-align: center;
  background-color: var(--color-grey-90);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  width: 100%;
  height: 100%;
  padding: 32px;
  display: flex;
}

.card-name {
  letter-spacing: .4px;
  color: var(--color-primary-dark70);
  font-weight: 600;
}

.card-role {
  color: var(--color-grey-30);
}

.card-link-container {
  margin-top: 12px;
}

.social-links {
  display: flex;
}

.social-links-item {
  display: block;
}

.social-links-link {
  padding: 14px;
  display: block;
}

.social-links-link svg {
  width: 20px;
  height: 20px;
  stroke: var(--color-grey-30);
  margin: auto;
}

.footer {
  padding: 52px 0;
}

.footer-logo {
  flex-shrink: 0;
}

.footer-content {
  border-bottom: .5px solid var(--color-primary-light100);
  flex-direction: row;
  justify-content: space-between;
  gap: 56px;
  padding-bottom: 40px;
  display: flex;
}

.footer-copyright {
  color: var(--color-grey-10);
  margin-top: 40px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: block;
}

.footer-menu {
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 80px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  display: grid;
}

.footer-contacts {
  font-size: 14px;
  font-weight: 400;
}

.footer-contacts-text {
  color: var(--color-grey-0);
  margin-bottom: 20px;
  font-weight: 600;
}

.footer-address-link {
  margin-bottom: 20px;
  display: block;
}

.footer-link-container {
  margin-left: -10px;
}

.footer-link-container .social-links-link {
  padding: 10px;
}

.swiper {
  position: relative;
}

.swiper-navigation {
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  margin-top: 32px;
  display: flex;
}

.swiper-services .swiper-navigation {
  margin-top: 52px;
}

.swiper-button-prev, .swiper-button-next {
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-top: auto;
  display: inline-flex;
  position: static;
}

.swiper-button-next:after, .swiper-button-prev:after {
  content: "";
  opacity: .5;
  background-image: url("arrow.b9dab6f1.svg");
  background-position: 100%;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  display: inline-block;
}

.swiper-button-prev:after {
  transform: rotate(180deg);
}

.swiper-pagination {
  justify-content: center;
  align-items: center;
  min-height: 80px;
  display: flex;
  position: static;
}

.swiper-pagination-bullet {
  background-color: var(--color-primary-dark70);
  opacity: 1;
  border-radius: 0;
  width: 4px;
  height: 4px;
  margin: 0 8px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 6px;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  width: 24px;
}

.swiper-services .swiper-wrapper {
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  row-gap: 48px;
  display: grid;
}

.swiper-services .swiper-slide {
  height: 100% !important;
}

.swiper-projects .swiper-wrapper {
  max-height: 600px;
}

.swiper-team .swiper-wrapper {
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: column;
  display: grid;
}
/*# sourceMappingURL=index.77a9bc14.css.map */
