/*#region ======================= Variables ======================= */

:root {
  /* Primary Colors */
  --color-primary-dark100: #253000;
  --color-primary-dark90: #324000;
  --color-primary-dark80: #485c00;
  --color-primary-dark70: #729100;
  --color-primary-light100: #c8ff00;
  --color-primary-light50: #e3ff7b;

  /* Grey Shades */
  --color-grey-100: #030404;
  --color-grey-90: #101010;
  --color-grey-85: #101515;
  --color-grey-80: #1b1c19;
  --color-grey-70: #31322f;
  --color-grey-60: #3b4853;
  --color-grey-50: #727e88;
  --color-grey-30: #a3b1bc;
  --color-grey-10: #e8ecf2;
  --color-grey-0: #ffffff;

  /* System Colors */
  --color-system-error: #cd3e13;
  --color-system-blue: #09a0c1;
  --color-system-green: #008625;

  /* Fonts */
  --font-primary: "IBM Plex Sans", Arial, sans-serif;
  --font-secondary: "Tektur", sans-serif;

  /* Screen Width */
  --max-width: 1440px; /* Desktop */
  --medium-width-2: 1024px; /* iPad Pro / horizontal tablet */
  --medium-width: 768px; /* iPad */
  --small-width: 393px; /* iPhone 6/7/8 */

  --container-padding-desktop: 112px;
  --container-padding-mobile: 24px;

  /* header */
  --min-header-height: 60px;
  --mobile-header-height: 72px;
}
/* #endregion */

/* ================== Common Normalize Styles ================ */

/* #region  --------- Reset Styles ------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-primary);
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1.4;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  position: relative;
}

@media (max-width: 1439px) {
  html {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
}


body {
  color: var(--color-grey-10);
  background-color: var(--color-grey-100);
  position: relative;
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

address {
  font-style: normal;
}

img,
picture,
video,
iframe,
svg {
  max-width: 100%;
  display: block;
  height: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
}

input,
textarea,
select {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: none;
  outline: none;
  box-shadow: none;
  appearance: none;
  border-radius: 0 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
}

textarea {
  resize: vertical;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
/* #endregion */

/* #region ================== Common Conponents styles ================ */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
/* #region  ========= BUTTONS ========= */

.button {
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
  cursor: pointer;
  padding: 18px 46px;
  background-color: var(--color-primary-dark80);
  transition: background-color 0.3s ease;
  color: var(--color-grey-0);
}

@media (max-width: 767px) {
  .button {
    width: 100%;
    font-size: 24px;
    padding: 18px 32px;
  }
}

.button:hover {
  background-color: var(--color-primary-dark90);
  transition: background-color 0.3s ease;
}

.button:focus {
  background-color: var(--color-primary-dark100);
}

.button--small {
  font-size: 16px;
  padding: 8px 24px;
}

.button--large {
  font-size: 20px;
  padding: 16px 52px;
}

@media (max-width: 767px) {
  .button--large {
    font-size: 24px;
    padding: 24px 52px;
  }
}
/* #endregion */

/* #region  ========= CONTAINER ======== */

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 var(--container-padding-desktop);
}

@media (max-width: 1439px) {
  .container {
    padding: 0 var(--container-padding-mobile);
  }
}

main {
  flex: 1;
}

/* #endregion */

/* #region =========  TITLES ============ */

.section-title {
  font-family: var(--font-primary);
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
  font-style: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color-primary-dark70);
}

@media (max-width: 1439px) {
  .section-title {
    font-size: 24px;
    letter-spacing: 1.2px;
  }
}

.section-title--white {
  font-family: var(--font-secondary);
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 92%;
  letter-spacing: 3.36px;
  color: var(--color-grey-10);
}

@media (max-width: 1439px) {
  .section-title--white {
    font-size: 40px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.2px;
  }
}
/* #endregion */

/* #endregion */

/* ====================== Sections styles ======================== */

/* #region ========= HEADER ============ */

.header {
  background-color: var(--color-grey-85);
  padding: 4px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  min-height: var(--min-header-height);
}

.header-burger-button {
  display: none;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  flex-shrink: 0;
  padding: 8px 32px 8px 0;
  margin-right: 60px;
}

.header-logo svg {
  width: 100%;
  max-width: 174px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  color: var(--color-grey-10);
  padding: 16px;
  position: relative;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.header-link::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 16px;
  right: 16px;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.header-link:hover::after {
  background-color: var(--color-primary-dark70);
}

.header-link:focus::after {
  background-color: var(--color-primary-light100);
}

.header-link--selected::after {
  background-color: var(--color-primary-light100);
}

.header-call-button {
  margin-left: 60px;
}

/* language dropdown */
.header-language-container {
  position: relative;
  padding-right: 32px;
}

.header-language-container:hover,
.header-language-container:focus {
  background-color: var(--color-grey-80);
}

/* when dropdown open - arrow down */
.language-dropdown {
  padding: 12px;
}

.language-dropdown::after {
  content: "";
  position: absolute;
  background-image: url(/src/img/dropdown-arrow.svg);
  background-position: center;
  background-repeat:no-repeat;
  width: 10px;
  height: 10px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.dropdown-menu {
  position: absolute;
  visibility: hidden;
  background-color: var(--color-grey-80);
  width: 100%;
  right: 0;
}

.language-dropdown--shown ~ .dropdown-menu {
  visibility: visible;
}
.language-dropdown--shown ~ .dropdown-menu .dropdown-item {
  padding: 12px;
}

.language-dropdown--shown ~ .dropdown-menu .dropdown-item:hover {
  background-color: var(--color-primary-dark80);
  width: 100%;
}
/* when dropdown open - arrow up */
.language-dropdown--shown::after {
  transform: translateY(-50%) rotate(180deg);
}

/* burger button and mobile header view */
@media (max-width: 1439px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
    z-index: 1001;
  }

  .body--header-collapsed .header {
    width: 100%;
  }

  .body--header-modal .header {
    background-color: var(--color-grey-100);
    width: 500px;
    min-height: 100vh;
  }

  .header-burger-button {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 10px;
    margin-left: -10px;
    position: relative;
    z-index: 1000;
  }

  .header-burger-button span {
    display: block;
    height: 1px;
    width: 24px;
    background-color: var(--color-grey-0);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .body--header-collapsed .header-nav {
    display: none;
  }

  .header-logo {
    margin-right: 0;
  }

  .header-call-button {
    margin-left: 0;
    width: auto;
    justify-self: end;
  }

  .body--header-modal .header-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .body--header-modal .header-nav {
    order: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  .body--header-modal .header-burger-button span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .body--header-modal .header-burger-button span:nth-child(2) {
    opacity: 0;
  }

  .body--header-modal .header-burger-button span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .body--header-modal .header-menu {
    gap: 32px;
    flex-direction: column;
  }

  .body--header-modal .header-logo{
    display: none;
  }

  .body--header-modal .header-link{
    padding-left: 0;
  }

  .body--header-modal .header-link::after{
    left: 0;
  }

  .body--header-modal .header-language-container{
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .header {
    max-height: var(--mobile-header-height);
  }

  .body--header-modal .header {
    width: 300px;
    min-height: 100vh;
  }

  .header-logo-pic {
    width: 44px;
    height: 40px;
  }
}

/* adding overlay for dimming the body */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-grey-85);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
}

.body--header-modal .overlay {
  opacity: 1;
  visibility: visible;
}

/* #endregion */

/* #region =========  Section: HERO ============ */

.hero {
  background-color: var(--color-grey-100);
  padding-top: var(--min-header-height);
  min-height: calc(100vh);
  padding: 160px 0;
}

/* grid container */
.hero-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  row-gap: 80px;
}

.hero-description {
  line-height: 1.4;
}

/* grid left column 1-5 */
.hero-title,
.hero-description,
.hero-button {
  grid-column-start: 1;
  grid-column-end: 6;
  justify-self: start;
}

/* grid right column 7-11 */
.hero-image {
  width: 100%;
  margin: auto;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 8;
  grid-column-end: 12;
}

.hero-image img,
.hero-image svg {
  width: 100%;
}

@media (max-width: 1439px) {
  .hero {
    padding-top: calc(var(--mobile-header-height) + 56px);
    padding-bottom: 56px;
  }

  /* tablet grid container */
  .hero-container {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
    row-gap: 50px
  }

  /* grid left column 1-3 */
  .hero-title,
  .hero-description,
  .hero-button {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  /* grid right column 4-6 */
  .hero-image {
    width: 45%;
    grid-column-start: 4;
    grid-column-end: -1;
  }

  .hero {
    min-height: fit-content;
  }
}

@media (max-width: 767px) {
  .hero-container {
    display: block;
  }

  .hero-title {
    margin-bottom: 0;
  }

  .hero-description {
    line-height: 1.5;
    margin-bottom: 0;
    margin-bottom: 32px;
  }

  .hero-image {
    width: 38%;
    margin: 44px auto;
  }
}

@media screen and (min-height: 1200px) {
  .hero {
    min-height: fit-content;
  }
}

/* #endregion */

/* #region =========  Section: SERVICES ============ */

.services {
  padding: 160px 0;
  background-color: var(--color-grey-90);
  padding-bottom: 0;
}

.services-title {
  margin-bottom: 80px;
  width: 50%;
}

.services-link {
  display: block;
  padding: 32px;
  padding-bottom: 76px;
  background-color: var(--color-grey-80);
  position: relative;
  transition: background-color 0.3s ease;
  height: fit-content;
  height: 100%;
}

.services-link::after {
  content: "";
  position: absolute;
  width: 38px;
  height: 16px;
  left: 32px;
  bottom: 32px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.services-link:hover {
  background-color: var(--color-primary-dark100);
  transition: background-color 0.3s ease;
}

.services-link:focus {
  background-color: var(--color-primary-dark80);
}

@media (max-width: 1439px) {
  .services {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .services-title {
    width: 80%;
    margin-bottom: 32px;
  }

  .services-link {
    padding-bottom: 32px;
  }

  .services-link::after {
    content: none;
  }
}
/* #endregion */

/* #region =========  Section: VIDEO ============ */

.video {
  background-color: var(--color-grey-90);
  padding: 160px 0;
  padding-top: 140px;
}

.video-title {
  margin: 0 auto 80px;
  text-align: center;
}

.video-container {
  position: relative;
}

.video-container::before {
  content: "";
  position: absolute;
  display: block;
  width: calc(82% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-primary-dark70);
  clip-path: polygon(0 0, calc(100% - 8%) 0, 100% 13%, 100% 100%, 0 100%);
  z-index: 1;
  border: 1px solid var(--color-primary-dark70);
}

.video-player {
  position: relative;
  width: 82%; /* the same width for container::before  */
  margin: 0 auto;
  padding: 84px 132px;
  background-color: var(--color-grey-90);
  clip-path: polygon(0 0, calc(100% - 8%) 0, 100% 13%, 100% 100%, 0 100%);
  z-index: 1;
}

.video-iframe-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Aspect ratio = (9/16)*100 = 56.25% for 16:9 */
  overflow: hidden;
}

.video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

@media (max-width: 1439px) {
  .video {
    padding-top: 16px;
    padding-bottom: 56px;
  }

  .video-title {
    margin-bottom: 32px;
  }

  .video-container::before {
    width: calc(70% + 1px);
  }

  .video-player{
    width: 70%;
    padding: 40px 62px;
  }
}

@media (max-width: 767px) {
  .video-container::before {
    width: calc(100% + 1px);
  }

  .video-player{
    width: 100%;
    padding: 28px 46px;
  }
}
/* #endregion */

/* #region =========  Section: PROJECTS ============ */

.projects {
  padding-top: 160px;
  background-color: var(--color-grey-100);
}

.projects-title {
  margin-bottom: 24px;
}

.projects-info {
  width: 50%;
  margin-bottom: 80px;
}

.projects-card {
  position: relative;
  overflow: hidden;
}

.projects-link {
  position: relative;
  display: block;
  width: 100%;
  min-height: 280px;
  z-index: 1;
  display: flex;
  align-items: flex-end;
}

.projects-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-primary-dark100);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.projects-link:hover::before {
  opacity: 0.2;
}

.projects-link:focus::before {
  background-color: var(--color-primary-dark80);
  opacity: 0.2;
}

.projects-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.projects-text {
  font-size: 24px;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  padding: 32px;
  padding-bottom: 12px;
  width: 100%;
}

@media (max-width: 1439px) {
  .projects {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .projects-info {
    width: 35%;
    margin-bottom: 32px;
  }
}

@media (max-width: 1023px) {
  .projects-info {
    width: 50%;
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .projects-info {
    width: 100%;
    margin-bottom: 32px;
  }
}


/* #endregion */

/* #region =========  Section: ABOUT ============ */

.about {
  background-color: var(--color-grey-100);
  padding-top: 130px;
  padding-bottom: 160px;
}

.about-inner-container {
  background-color: var(--color-grey-85);
  padding: 80px 100px;
}

.about-title {
  margin-bottom: 48px;
  width: 50%;
}

.about-description {
  margin-bottom: 48px;
  width: 50%;
}

.about-picture {
  display: none;
}

.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1439px) {
  .about {
    padding-top: 32px;
    padding-bottom: 56px;
  }

  .about-inner-container {
    background-color: transparent;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    row-gap: 32px;
  }

  .about-title, .about-description, .about-button {
    grid-column: 1 / 2;
    justify-self: start;
  }

  .about-title {
    width: 100%;
    margin-bottom: 0;
  }

  .about-picture {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    display: block;
  }

  .about-description {
    width: 100%;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .about-inner-container {
    display: block;
  }

  .about-title {
    margin-bottom: 32px;
  }

  .about-description {
    margin-bottom: 32px;
  }
  .about-picture {
    margin-bottom: 32px;
  }
}

/* #endregion */

/* #region =========  Section: VALUES ============ */

.values {
  padding: 160px 0;
  background-color: var(--color-grey-90);
}

.values-title {
  margin-bottom: 80px;
}

.values-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}


.values-item {
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 32px;
  gap: 28px;
  background-color: var(--color-grey-80);
}

.values-item:hover,
.values-item:focus {
  clip-path: polygon(0 0, calc(100% - 8%) 0, 100% 13%, 100% 100%, 0 100%);
}

.values-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
}

.values-icon svg {
  max-width: 100%;
  max-height: 100%;
}

.values-text {
  text-transform: uppercase;
  font-family: var(--font-secondary);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.14px;
  color: var(--color-grey-10);
  text-align: center;
  letter-spacing: 2px;
}

@media (max-width: 1439px) {
  .values {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .values-text {
    font-size: 16px;
    letter-spacing: 0.08px;
  }

  .values-title {
    margin-bottom: 32px;
  }

  .values-grid {
    gap: 20px;
  }

  .values-item {
    padding: 40px 12px;
  }

  .values-icon {
    width: 32px;
    height: 32px;
  }

  .values-icon svg {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 767px) {
  .values-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


/* #endregion */

/* #region =========  Section: INFO ============ */
.info {
  padding: 160px 0;
  background-color: var(--color-grey-100);
  position: relative;
}

.info-title {
  margin: auto;
  margin-bottom: 40px;
  text-transform: none;
  text-align: center;
}

.info-description {
  text-align: left;
  margin: 0 auto;
}

.info-title, .info-description {
  width: 66%;
}

.info-expand-button {
  display: none;
}

.info-picture {
  margin: 0 auto;
  margin-top: 60px;
}

.info-picture-img {
  margin: 0 auto;
}

@media (max-width: 1439px) {
  .info {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .info-title, .info-description, .info-expand-button {
    width: 75%;
  }

  .info-title {
    text-align: left;
    margin-bottom: 32px;
  }

  .info-description-container {
    display: flex;
    flex-direction: column;
  }

  .info-description {
    --max-lines: 8;
    --line-height: 1.5em;

    order: -1;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    max-height: calc(var(--max-lines) * 1em * var(--line-height));
    line-height: var(--line-height);
  }

  .info-description-container:has(input:checked) .info-description {
    display: block;
  }

  .info-expand-button {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    color: var(--color-primary-dark70);
  }


  /* Show "Read More" when checkbox is NOT checked */
  .info-expand-button input:not(:checked) + .info-expand-text-on {
    display: block;
  }
  .info-expand-button input:not(:checked) + .info-expand-text-on + .info-expand-text-off {
    display: none;
  }

  /* Show "Close" when checkbox is checked */
  .info-expand-button input:checked + .info-expand-text-on {
    display: none;
  }
  .info-expand-button input:checked + .info-expand-text-on + .info-expand-text-off {
    display: block;
  }

  .info-picture {
    margin-top: 32px;
    width: 20%;
  }
}

@media (max-width: 767px) {
  .info-title, .info-description, .info-expand-button {
    width: 100%;
  }
}
/* #endregion */

/* #region =========  Section: CONTACT ============ */

.contact {
  background-color: var(--color-grey-100);
  padding-top: 120px;
  padding-bottom: 80px;
}

.contact-container {
  background-color: var(--color-grey-90);
  padding: 80px 100px;
  padding-right: 130px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 32px;
  border: 1px solid var(--color-primary-dark70);
}

.contact-title {
  margin-bottom: 16px;
}

@media (max-width: 1439px) {
  .contact {
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: var(--color-grey-90);
  }

  .contact-container {
    padding: 0;
    width: 66%;
    margin: 0 auto;
    border-color: transparent;
    background-color: transparent;
    display: block;
  }

  .contact-title {
    margin-bottom: 32px;
    font-size: 40px;
  }

  .contact-info {
    margin-bottom: 32px;
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .contact-container {
    padding: 0;
    width: 100%;
  }
}
/* #endregion */

/* #region =========  Section: FORM (Contact form part) ============ */

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  position: relative;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
}

.form-input {
  background-color: var(--color-grey-90);
  color: var(--color-grey-0);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  padding: 6px 16px;
}

.form-input:focus {
  border-bottom: 1px solid var(--color-system-blue);
}

.form-input-error {
  min-height: 48px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  bottom: 0;
  color: var(--color-system-error);
  line-height: 1.5;
  margin-top: 8px;
}

.form-group--error .form-input {
  border-bottom: 1px solid var(--color-system-error);
}

.form-input-error-text {
  display: none;
}

.form-group--error .form-input-error-text {
  display: inline;
}

.form-group--checkbox {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.form-input,
.form-select {
  border-bottom: 1px solid var(--color-grey-30);
}

.form-input::placeholder,
.form-select::placeholder {
  border-bottom: 1px solid var(--color-grey-60);
}

.form-group--checkbox {
  margin-bottom: 56px;
  padding-left: 8px;
}

.form-checkbox-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.form-checkbox {
  border: 1px solid var(--color-grey-10);
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 0%;
}

.form-checkbox:checked::after {
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(/src/img/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.2s ease-in-out;
  display: block;
  position: absolute;
}

.form-checkbox-label {
  margin: 0;
  padding: 0;
}

.form-checkbox-link {
  text-decoration: underline;
}

.form-checkbox-link:hover {
  text-decoration: underline;
}

/* to override browser's autofill styles */
/* General input styles */
.form-input {
  appearance: none;
  box-shadow: none !important;
  background-color: var(--color-grey-90) !important;
  color: var(--color-grey-10) !important;
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

/* Chrome, Safari autofill styles */
.form-input:-webkit-autofill,
.form-input:-webkit-autofill:hover,
.form-input:-webkit-autofill:focus,
.form-input:-webkit-autofill:active {
  background-color: var(--color-grey-90) !important;
  color: var(--color-grey-10) !important;
  box-shadow: 0 0 0px 1000px var(--color-grey-90) inset !important;
}

/* Firefox autofill styles */
.form-input:-moz-autofill {
  background-color: var(--color-grey-90) !important;
  color: var(--color-grey-10) !important;
}

/* Edge autofill styles */
.form-input:-ms-input-placeholder {
  background-color: var(--color-grey-90) !important;
  color: var(--color-grey-10) !important;
}

/* --------------------------  CUSTOM SELECT ---------------------------------*/
.form-select-container {
  margin-bottom: 48px;
}

.form-select-label {
  margin-bottom: 16px;
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  width: 100%;
  height: 40px;
  font-weight: 400;
}

.select-styled {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ensures full width */
  height: 100%; /* Ensures full height */
  background-color: var(--color-grey-90);
  padding: 12px 16px;
  transition: all 0.2s ease-in;
  border-bottom: 1px solid var(--color-grey-30);
  font-family: var(--font-primary);
}

.select-styled:focus {
  outline: none !important;
}

.form-group--error .select-styled {
  border-bottom: 1px solid var(--color-system-error);
}

.select-styled:after {
  content: "";
  position: absolute;
  right: 26px;
  width: 10px;
  height: 10px;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 14px;
  border-color: var(--color-primary-light100);
  transform: rotate(45deg);
}

.select-styled:hover {
  background-color: var(--color-grey-90);
}

.select-styled:active,
.select-styled.active {
  background-color: var(--color-grey-90);
}

.select-styled:active:after,
.select-styled.active:after {
  border-width: 2px 0 0 2px;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--color-grey-80);
  z-index: 999;
  list-style: none;
  margin: 0;
}

.select-options li {
  margin: 0;
  padding: 10px 2px;
  text-indent: 15px;
  transition: all 0.15s ease-in;
}

.select-options li:hover {
  background: var(--color-primary-dark100);
}

.select-options li.is-selected {
  background: var(--color-primary-dark80);
}

.select-options li[rel="hide"] {
  display: none;
}

@media (max-width: 767px) {
  .form-label {
    margin-bottom: 24px;
  }

  .form-checkbox-label {
    margin-bottom: 0;
  }

  .form-group {
    margin-bottom: 0;
  }

  .form-input-error {
    min-height: 36px;
    line-height: 1;
    margin-top: 4px;
  }

  .form-button {
    margin-top: 56px;
  }

}

/* #endregion */

/* #region =========  Section: TEAM ============ */

.team {
  background-color: var(--color-grey-100);
  padding-top: 160px;
  padding-bottom: 120px;
}

.team-title {
  margin-bottom: 80px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-grey-90);
  overflow: hidden;
}

.card-picture {
  width: 100%;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-description {
  text-align: center;
  background-color: var(--color-grey-90);
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.card-name {
  font-weight: 600;
  letter-spacing: 0.4px;
  color: var(--color-primary-dark70);
}

.card-role {
  color: var(--color-grey-30);
  font-size: 16px;
}

.card-link-container {
  margin-top: 12px;
}

.social-links {
  display: flex;
}

.social-links-item {
  display: block;
}

.social-links-link {
  display: block;
  padding: 10px;
}

.social-links-link svg {
  width: 24px;
  height: 25px;
  stroke: var(--color-grey-30);
  margin: auto;
}

@media (max-width: 1439px) {
  .team {
    padding-top: 56px;
    padding-bottom: 32px;
  }

  .team-title {
    margin-bottom: 32px;
  }

  .social-links-link svg {
    width: 20px;
    height: 20px;
  }
}

/* #endregion */

/* #region =========  FOOTER ============ */

.footer {
  padding: 52px 0;
  background-color: var(--color-grey-85)
}

.footer-logo {
  flex-shrink: 0;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 56px;
  padding-bottom: 40px;
  border-bottom: 0.5px solid var(--color-primary-light100);
}

@media (max-width: 767px) {
  .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 56px;
    column-gap: 32px;
  }
}

.footer-copyright {
  margin-top: 40px;
  display: block;
  color: var(--color-grey-10);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.footer-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 80px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.footer-link {
  padding: 12px;
  position: relative;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.footer-link::after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 12px;
  right: 12px;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.footer-link:hover::after {
  background-color: var(--color-primary-dark70);
}

.footer-link:focus::after {
  background-color: var(--color-primary-light100);
}

.footer-link--selected::after {
  background-color: var(--color-primary-light100);
}

.footer-contacts {
  font-weight: 400;
  font-size: 14px;
}

.footer-contacts-text {
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--color-grey-0);
}

.footer-address-link {
  display: block;
  margin-bottom: 20px;
}

.footer-link-container {
  margin-left: -12px;
}

.footer-link-container .social-links-link {
  padding: 10px;
}

@media (max-width: 767px) {

  .footer-menu {
    grid-column-start: 1;
    grid-column-end: 3;
    column-gap: 32px;
    order: 3;
  }

  .footer-link {
    padding: 12px 0;
  }

  .footer-link::after {
    left: 0;
    right: 0;
  }

  .footer-logo {
    order: 1;
  }

  .footer-contacts {
    order: 2;
  }

  .footer-contacts-text {
    display: none;
  }

  .footer-address-link {
    margin-bottom: 6px;
  }

  .footer-link-container .social-links-link {
    padding: 8px;
  }
}

/* #endregion */

/* #region =========  SLIDERS CUSTOMIZATION ============ */
/* Common slider styles */
.swiper {
  position: relative;
}

.swiper-navigation {
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  display: flex;
  min-height: 80px;
}

.swiper-navigation {
  margin-top: 52px;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  position: static;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-top: auto;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: "";
  display: inline-block;
  width: 80px;
  height: 80px;
  background-image: url("../img/arrow.svg");
  background-position: right;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.swiper-button-prev:after {
  transform: rotate(180deg);
}

.swiper-pagination {
  min-height: 80px;
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 2px;
  height: 2px;
  margin: 0 8px;
  border-radius: 0;
  background-color: var(--color-primary-dark70);
  opacity: 1;
  margin: 0 8px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 6px;
}

.swiper-pagination-bullet-active {
  width: 24px;
  opacity: 1;
}

/* Services slider */
.swiper-services .swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
}

@media (max-width: 1439px) {
  .swiper {
    width: calc(100% + var(--container-padding-mobile));
  }

  .swiper-navigation {
    margin-top: 0;
    margin-right: var(--container-padding-mobile);
  }

  .swiper-services .swiper-wrapper {
    grid-template-rows: repeat(1, 1fr);
  }
}

.swiper-services .swiper-slide {
  height: 100% !important;
}

/* Projects slider */
.swiper-projects .swiper-wrapper {
  max-height: 600px;
}

/* Team slider */
.swiper-team .swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: column;
}

@media (max-width: 1439px) {
  .swiper-team .swiper-wrapper {
    grid-template-rows: repeat(1, 1fr);
  }
}
/* #endregion */
